   
div.modal-content {
	border-color: $border-color-form;
}

div.modal-header {
	background-color: $bgcolor-form;
	color: $color-white;
	border-color: $border-color-form;
	border-radius: 6px 6px 0px 0px;
} 

div.vertical-line {
	border-left: 1px solid $color-grey;
}

.btn.btn-register {
	background-color: $accentual-color;
    border-color: $border-color-form;
    color: $color-white;

    &:hover {
    	background-color: $bgcolor-form;
    }
}

