.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    @include rxu-button-primary;
}

.navbar-inverse {

	border-radius: 0;
    margin-bottom: 0;
    background: $primary-color-black;
    padding: 15px 0;
    padding-bottom: 0;

    .navbar-brand {
    	color: $color-white;
    }

	.navbar-nav {
		margin-top: 12px;

		li {
			margin-left: 35px;
    		padding-bottom: 28px;

			a {
				padding: 5px 12px;
			    margin: 0;
			    border-radius: 3px;
			    color: $color-white;
			    line-height: 24px;
			    display: inline-block;
			}

			&> a:hover {
				@include rxu-button-primary;
			}
		}

		.dropdown-menu {
			background-color: $primary-color-black;

			li {
				margin: 0;
				padding-bottom: 10px;	

				&:last-child {
					a {
						border-radius: 0 0 3px 3px;
					}
				}

				a {
					padding: 8px 15px;
	  				color: $color-white;
	  				display: block;
	  				border-radius: 0;

	  				&:focus {
	  					background-color: $accentual-color;
	  					border: 0;	
	  				}
				}
			}
		}
	}
} 

.navbar-inverse .navbar-nav li[role=separator] {
	padding: 0;
}

div.top-bar {
	background: $primary-color-black;
	padding: 10px;

	.container {
		span.support-contacts {
			color: $color-white;

			i {
				color: $color-white;
				margin-right: 10px;
			}
		}

		i.signin-icon {
			color: $color-grey;

			&:hover {
				text-decoration: none;
			}
		}

		div.pull-right {
			padding-right: 27px;

			a.top-bar-main-link {
				color: $color-white;
			}

			i.signin-icon {
				margin: 0 20px 0 7px;
			}
		}

		button.signin-button {
			background: transparent;
		    border: 0;
		    padding: 0;

		    a:hover {
		    	text-decoration: none;
		    }
		}

		div.dropdown-menu {
			padding: 0;
			width: 330px;
			left: -110px;
		}

		div.panel {
			margin: 0;
		}

		.panel-info {
			border-color: $border-color-form;
		}

		.panel-body {
			padding-top: 30px;
		}

		.panel-info > .panel-heading {
		    background-color: $bgcolor-form;
		    color: $color-white;
		    border-color: $border-color-form;
		}

		div.input-group:first-child {
			margin-bottom: 25px;
		}

		div.input-group:nth-child(2) {
			margin-bottom: 20px;
		}

		.input-group-addon i {
			margin: 0;
		}

		div.forgot-password-field {
			float: right;
		    position: relative;
		    top: -18px;
		    font-size: 80%;

		    a {
		    	color: $color-white;
		    }
		}

		.form-control:focus {
		    border-color: $color-focus-form;
		    outline: 0;
		    box-shadow: none;
		}

		div.signup-field {
			border-top: 1px solid $color-grey;
		    padding-top: 15px;
		    font-size: 85%;
		}
	}
		.input-group .checkbox {
			margin-bottom: 10px;
		}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
