/* colors */

$accentual-color: #E58C61;
$color-white: #FFF;
$primary-color-second: #F2F2F2;
$primary-color-black: #151515;
$color-grey: #9D9D9D;
$color-for-section: #F2F2F2;
$color-text-base: #4E4E4E;
$btn-standart-hover: lighten($accentual-color, 8%);
$color-grey-for-text: #717171;
$color-panel: lighten($accentual-color, 20%);

/*colors for signin-form, modal form*/
$bgcolor-form: #F1B683;
$text-color-form: #F36112;
$border-color-form: #E89E5E;
$color-focus-form: #E9832B;

/*sizes*/

$max-width: 100%;


/*fonts*/

$font-size-base: 16px;

